<div [id]="pokemon.id" class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
        <div class="card-actions justify-end" *ngIf="mini">
            Lock<button class="btn btn-square btn-sm" (click)="emitLocked()">
                <span *ngIf="selected">
                    X
                </span>
            </button>
        </div>
        <h2 class="card-title justify-center">{{pokemon.name}}</h2>
        <div *ngIf="mini" tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
            <div class="collapse-title text-xl font-medium">
                Description
            </div>
            <div class="collapse-content">
                <p class="text-sm">{{pokemon.flavor_text_entries | randomItemFromArray}}</p>
            </div>
        </div>
        <div class="flex">
            <div class="badge badge-primary badge-outline mx-2" *ngFor="let type of pokemon.types">{{type.type.name}}</div>
        </div>
    </div>
    <figure><img loading="lazy" [src]="pokemon.sprites.front_default" alt="Shoes" /></figure>
</div>